* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav{
  background-color:transparent;
  height: 80px;
  width: 100%;
  
}
.background{
  background-image:url(./background.jpg);
  background-position: center;
}
label.logo img {
  height: 10vh;
  width: 36vh;
  padding: 11px;
  margin: 13px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 2px;
  text-decoration: none;
  /* text-transform: uppercase; */
}
a:hover {
  background-color:rgba(255,255,255,0.7);
  color:black;
  border-radius:10px;
}
.bi-trophy{
  font-size: 26px;
  padding:5px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}
#check {
  display: none;
}
.checkbtn {
  display: none;
}
/* Reset default button styles */
.search-btn {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.search-btn i {
  transition: 0.5s ease-in-out;
  color: inherit;
}

.search-btn:hover i {
  transform: scale(1.1);
  color: black;
  border-radius: 1000px;
  background-color: lightgreen;
}

@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1050px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 252, 252);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: black;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
@media (max-width: 1266px) {
  .logo-image {
    width: 300px !important;
  }
}

/* .icon1 {
  font-size: 40px;
  color: black;
} */
.home-intro {
  width: 100%;
  height: 70vh;
  padding: 5%;
  background-position:center;
}
.home-content {
  width: 100%;
  height: 50vh;
  padding: 5%;
  display: flex;
  gap: 40px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .intro-content {
  background-color: white;
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 65vh;
  height: 7vh;
  border-radius: 10px;
} */

@media (max-width: 768px) {
  .intro-content {
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
  }
  .scrap-input-box {
    width: 110px;
  }
  input {
    text-align: center;
  }
}
input {
  border: none;
  border-bottom: 2px solid gray;
}
.search-btn {
  padding: 30%;
  font-size: 30px;
  color: gray;
}
/* slider */
/* user-review */
:root {
  --color-dark: #151c35;
  --color-secodary-dark: #464c70;
  --color-primary: #ee709d;
  --color-text: #8297e2;
  --color-light: #ebebfb;
}

.container-user-review {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  max-width: 987px;
  width: 100%;
  background-color: rgba(144, 238, 144, 0.6);
  text-align: center;
  border-radius: 30px;
  border: 1px solid black;
  padding: 4em 0;
}

.text-light {
  color: var(--color-light);
}

.swiper {
  width: 600px;
  height: auto;
}

.swiper .swiper-slide .flex {
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper .swiper-slide .comments {
  padding: 1.5em 2em;
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;
  border-radius: 11px;
  font-size: 0.9em;
  position: relative;
  color: var(--color-light);
}

.swiper .swiper-slide .comments::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--color-light);
  z-index: -99;
}

.swiper .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.swiper .profile img {
  width: 30%;
  border-radius: 50%;
  border: 5px solid var(--color-primary);
  margin: 10px 0;
}

.swiper .profile > a {
  text-decoration: none;
  color: green;
}

.swiper .profile > span {
  color: var(--color-text);
  font-size: 0.8em;
}

.swiper .swiper-button-prev,
.swiper-button-next {
  color: var(--color-text);
  display: none;
}

@media (min-width: 320px) {
  .board {
    width: auto;
  }

  .swiper {
    width: 320px;
  }

  .board-text{
    padding: 0 2em;
  }
}

@media (min-width: 768px) {
  .board {
    width: 100%;
  }

  .swiper {
    width: 600px;
  }

  .swiper .swiper-button-prev,
  .swiper-button-next {
    display: initial;
  }
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --lightblk: #252930;
  --blk: #111417;
}

.footer {
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 2em;
  gap: 10px;
  display: flex;
  bottom: 0;
  position: relative;
  width: 100%;
  background-color: #019c5f;
}

div.right {
  margin: 0;
  display: flex;
  width: 50%;
  flex-direction: row;
  gap: 10px;
  flex: 1;
}

div.left {
  flex-basis: 100%;
  margin: 0;
  display: flex;
  gap: 10px;
  width: 50%;
  flex-direction: column;
  flex: 1;
}

textarea {
  font-family: Azeret Mono;
  box-sizing: border-box;
  color: whitesmoke;
  outline: none;
  resize: none;
  border: none;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--lightblk);
}

.msg {
  flex-basis: 100%;
}

div.bottom {
  min-width: 0;
  overflow-x: scroll;
  padding-top: 1em;
  gap: 2em;
  color: grey;
  width: 100%;
  flex-basis: 100%;
  display: flex;
}

.ftrtxt {
  flex-basis: 100%;
  font-size: 15px;
  text-align: center;
  font-family: Rubik Mono One;
  color: white;
}

.ftrhead {
  font-size: 35px;
}

.ftrhead::after,
.ftrtxt::after {
  content: "\a";
  white-space: pre;
}

.ftrlinks {
  flex-basis: 1;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  flex-basis: 100%;
  color: white;
}

.footer-icons {
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.footer-icons:hover {
  transform: scale(1.1);
  color: black;
}

::placeholder {
  font-family: Azeret Mono;
}

#start {
  margin-left: auto;
}

#end {
  margin-right: auto;
}

::-webkit-scrollbar {
  height: 5px;
  width: 2px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  height: 5px;
  width: 2px;
}

#submitbtn {
  display: none;
  border-radius: 10px;
  border: none;
  font-family: Rubik Mono One;
  font-size: 15px;
  transition: 0.5s;
}

#submitbtn:hover {
  background-color: var(--lightblk);
  color: var(--blk);
}

@keyframes slide {
  0% {
    opacity: 0;
    height: 0%;
    border-radius: 10px;
  }
  100% {
    opacity: 1;
    height: 100%;
    border-radius: 10px;
  }
}

.ewaste-catagories-section h1 {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Slab", serif;
  font-size: 35px;
}

.ewaste-catagories-section h2{
  font-weight: bold;
  font-family: 'Fira Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-size:25px;
}
.searchbar{
  background-color: whitesmoke;
  width:fit-content;
  padding:10px;
  border-radius: 10px;
  margin:auto;
}
.text1,.text2{
  font-size:20px;
  margin:0 10px 0 10px;
  color:gray;
}
.item-input>input,.zip-input>input{
  font-size: 20px;
}
.search-icon{
  font-size:25px;
  margin-right:15px;
  margin-left:15px;
  color: gray;
}
.bi-search:hover{
  border-radius: 10px;
  background-color: lightgreen;
}
@media (max-width: 600px){
.searchbar{
  display:flex;
  flex-direction: column;
  align-items: center;
}
}
.about-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}