*{
    padding: 0;
    margin: 0;
}
nav{
    background-color:#019C5F;
    height: 80px;
    width: 100%;
    
  }
  label.logo img {
    height: 10vh;
    width: 36vh;
    padding: 11px;
    margin: 13px;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    line-height: 74px;
    margin: 0 5px;
  }
  nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 2px;
    text-decoration: none;
    /* text-transform: uppercase; */
  }
  .icon1:hover {
    background-color:rgba(255,255,255,0.7);
    color:black;
    border-radius:10px;
  }
  .bi-trophy{
    font-size: 26px;
    padding:5px;
    padding-bottom: 0;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
  }
  #check {
    display: none;
  }
  .checkbtn {
    display: none;
  }@media (max-width: 952px) {
    nav ul li a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 1050px) {
    .checkbtn {
      display: block;
    }
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: rgb(49, 97, 141);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 20px;
    }
    a:hover,
    a.active {
      background: none;
      color: black;
    }
    #check:checked ~ ul {
      left: 0;
    }
  }
  @media (max-width: 1266px) {
    .logo-image {
      width: 300px !important;
    }
  }
  .list{
    margin-bottom: 0;
  }
  .navigator{
    background-color: gainsboro;
    z-index: 2;
    margin-top: 0;
    width: 100%;
    height:60px;
    display:flex;
    justify-content: center;
    gap:40px;
    align-items: center;
  }
  .item{
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: none;
  }
  .nav-item:hover{
    background-color: #019C5F;
    color:white;
    text-decoration: none !important;
  }
  .item:hover{
    color:white;
  }
  .nav-item{
    padding:10px;
    border-radius:10px;
    text-decoration: none;
  }
 .active{
  background-color: #019C5F;
    color:white;
    font-size: 18px;
    font-weight: 500;
 }
.box{
    background-color: green;
    height: 7vh;
}
.logo{
   
    align-items: left;
    height: 4.8vh;
}
.navbar{
    display: block ruby;
    /* width: vh; */
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
.form-control::placeholder{
    width: 10vh;   
}
 .card1{
    /* background-color: green; */
   position: relative;
   left: 60%;
   top: 7%;
   /* width: 100vh; */
    /* padding: 0px 0px 0px 185px; */
} 
.buttonn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.navbar.navbar-light.bg-light {
    background-color: black;
    margin-top:10px;
    margin-bottom: 0px;
}
.card{
  display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
  border: 1px solid black;
  background-color: #0e950eeb;
  }
  .container{
    min-width: calc(100vh - 58px - 12vh);
    margin-left:10px;
}
.cards{
    display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  position: absolute;
  width: 58%;
    
}
.card2{
    padding: 10px;
}
.card-body{
    width:100%
}
.but{
    padding-bottom: 0 !important;
}

/* button css */
.navigator button{
  border: none;
  background: none;
  font-weight: bold;
}

.navigator .active{
  background-color: #019C5F;
  color:white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0.6rem;
  height: 2.5rem;
  width: auto;
}