@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.container1{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

.container1{
   background-color: coral;
   padding:20px;
}

.container1{
   max-width: 1200px;
   margin:100px auto;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   gap:20px;
}

.container1 .main-video-container{
   flex:1 1 700px;
   border-radius: 5px;
   box-shadow: 0 5px 15px rgba(0,0,0,.1);
   background-color: #fff;
   padding:15px;
}

.container1 .main-video-container .main-video{
   margin-bottom: 7px;
   border-radius: 5px;
   width: 100%;
}

.container1 .main-video-container .main-vid-title{
   font-size: 20px;
   color:#444;
}

.container1 .video-list-container{
   flex:1 1 350px;
   height: 485px;
   overflow-y: scroll;
   border-radius: 5px;
   box-shadow: 0 5px 15px rgba(0,0,0,.1);
   background-color: #fff;
   padding:15px;
}

.container1 .video-list-container::-webkit-scrollbar{
   width: 10px;
}

.container1 .video-list-container::-webkit-scrollbar-track{
   background-color: #fff;
   border-radius: 5px;
}

.container1 .video-list-container::-webkit-scrollbar-thumb{
   background-color: #444;
   border-radius: 5px;
}

.container1 .video-list-container .list{
   display: flex;
   align-items: center;
   gap:15px;
   padding:10px;
   background-color: #eee;
   cursor: pointer;
   border-radius: 5px;
   margin-bottom: 10px;
}

.container1 .video-list-container .list:last-child{
   margin-bottom: 0;
}

.container1 .video-list-container .list.active{
   background-color: #444;
}

.container1 .video-list-container .list.active .list-title{
   color:#fff;
}

.container1 .video-list-container .list .list-video{
   width: 100px;
   border-radius: 5px;
}

.container1 .video-list-container .list .list-title{
   font-size: 17px;
   color:#444;
}















@media (max-width:1200px){

   .container1{
      margin:0;
   }

}

@media (max-width:450px){

   .container1 .main-video-container .main-vid-title{
      font-size: 15px;
      text-align: center;
   }

   .container1 .video-list-container .list{
      flex-flow: column;
      gap:10px;
   }

   .container1 .video-list-container .list .list-video{
      width: 100%;
   }

   .container1 .video-list-container .list .list-title{
      font-size: 15px;
      text-align: center;
   }

}

/* button css */
.navigator button{
   border: none;
   background: none;
   font-weight: bold;
 }

 .navigator .active{
   background-color: #019C5F;
   color:white;
   font-size: 18px;
   font-weight: 500;
   border-radius: 0.6rem;
   height: 2.5rem;
   width: auto;
 }